* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 10px;
}

.main-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo a {
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}

.logo a:hover {
    color: rgb(0, 122, 252);
}

.logo:hover {
    transform: translateY(-5px);
    transition: 0.5s;
}

.items {
    display: flex;
    gap: 60px;
    font-size: 18px;
}

.items a {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.5s;
}

.items a:hover {
    color: rgb(0, 122, 252);
    transform: translateY(-3px);
}

.my-introduction {
    position: relative;
}


.hero {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

h1 {
    text-align: center;
    padding: 30px 35px;
}


.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.contact {
    width: 50%;
    height: 400px;
    padding: 20px 25px;
    background-color: rgb(0, 122, 252);
    border-radius: 5px;
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#name,
#email {
    width: 48%;
    height: 35px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#subject,
#message,
button {
    width: 98%;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#message {
    height: 100px;
}

button {
    width: 98%;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

p{
    margin-top: 20px;
    padding: 10px;
}

a{
    color: white;
    text-decoration: none;
}