* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 10px;
}

.main-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo a {
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}

.logo a:hover {
    color: rgb(0, 122, 252);
}

.logo:hover {
    transform: translateY(-5px);
    transition: 0.5s;
}

.items {
    display: flex;
    gap: 60px;
    font-size: 18px;
}

.items a {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.5s;
}

.items a:hover {
    color: rgb(0, 122, 252);
    transform: translateY(-3px);
}

.my-introduction {
    position: relative;
}


.hero {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.about-me {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 2.8rem;
    font-size: 25px;
}

.about-me b {
    color: rgb(0, 122, 252);
}

.about-me h2 {
    line-height: 3rem;
}

.about-me hr {
    width: 65%;
    border-color: rgb(0, 122, 252);
    opacity: 60%;
    margin-top: 10px;
}

.buttons {
    max-width: 100%;
    height: 35px;
    display: flex;
    gap: 50px;
}

.buttons a {
    width: 150px;
    height: 35px;
    background-color: rgb(0, 122, 252);
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1mm solid black;
    transition: 0.3s;
}

#btn {
    background-color: white;
    color: rgb(0, 122, 252);
}

#btn:hover {
    color: white;
    background-color: rgb(0, 122, 252);
}

.buttons a:hover {
    cursor: pointer;
    color: rgb(0, 122, 252);
    background-color: white;
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.project_section {
    width: 100%;
    height: auto;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section-container-1 {
    padding: 20px 25px;
    line-height: 1.8rem;
}

.section-container-1 hr {
    border-color: rgb(0, 122, 252);
    margin-top: 10px;
    opacity: 60%;
    width: 200px;
}

.section-container-2 {
    width: 100%;
    height: auto;
    padding: 45px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

}

.section-container-2 img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    height: 200px;
}

.porfolio {
    width: 30%;
    height: 360px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    transition: 1s;
}

.porfolio:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.porfolio p {
    color: grey;
    font-size: 14px;
}

.porfolio-card {
    padding: 5px 10px;
}

.porfolio-card h2 {
    line-height: 50px;
}

.demo-button {
    width: 100%;
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;

}

.demo-button a {
    width: 80px;
    height: 35px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    background: rgb(0, 122, 252);
    border: 0.1mm solid white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#white {
    background-color: rgb(225, 238, 252);
}


/* Responsive design */

@media(max-width:768px) {

    .navbar {
        width: 100%;
        height: auto;
    }

    .main-container {
        padding: 15px 20px;
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .items {
        width: 100px auto;
        align-items: center;
        gap: 35px;
        font-size: 14px;
    }

    .hero {
        min-height: auto;
    }

    .about-me {
        position: static;
        transform: none;
        font-size: 14px;
        line-height: 1.8rem;
        max-width: 100%;
        padding: 20px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.85);
    }

    .about-me hr {
        margin: 10px auto;
    }

    .buttons {
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        font-size: 12px auto;
    }

    .project_section {
        width: 100%;
        height: auto;
        font-size: 14px;
    }

    .section-container-1 {
        text-align: center;
    }

    .section-container-1 hr {
        width: 200px;
        margin: 10px auto;
    }

    .section-container-2 {
        display: flex;
        flex-direction: column;
        gap: 70px;
        text-align: center;
    }

    .porfolio {
        width: 100%;
        height: auto;
        font-size: 15px;
    }

    .porfolio p {
        font-size: 13px;
    }

    .section-container-2 img {
        width: 100%;
        height: auto;
    }

    .demo-button {
        display: flex;
        justify-content: center;
    }

    .demo-button a {
        width: 70px auto;
        height: 35px auto;
        font-size: 12px;
    }
}